<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>WDN Cash Watch</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Usamos sua localização para detectar sua moeda local automaticamente.</string>
    <key>UNNotificationAlertUsageDescription</key>
    <string>Enviamos alertas quando o dólar sofre grandes variações.</string>
</dict>
</plist>
